@import url('../style.css');

body {
    background: #101010 url('../tlo.png') no-repeat center center fixed;
    /* Ensure consistent bg */
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Override default container for Bank/Vault look */
.window {
    width: 400px;
    max-width: 90%;
    margin-top: 50px;

    /* Chest GUI Look */
    background-color: #c6c6c6;
    border: 4px solid #000;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.8);
    position: relative;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Title bar like a Chest Inventory Title */
.animated-title {
    font-size: 16px;
    color: #404040;
    /* Dark gray text generic to MC GUI */
    margin: 0 0 10px 5px;
    text-shadow: none;
    text-transform: capitalize;
}

/* Inputs looking like slots */
input {
    background: #8b8b8b;
    border: 2px solid #fff;
    /* Inset effect */
    border-right-color: #fff;
    border-bottom-color: #fff;
    border-top-color: #373737;
    border-left-color: #373737;
    color: #fff;
    font-family: 'Press Start 2P', monospace;
    font-size: 12px;
    padding: 12px;
    outline: none;
    box-shadow: inset 2px 2px 0 #000;
}

input:focus {
    background: #a0a0a0;
}

input::placeholder {
    color: #ddd;
    opacity: 0.5;
}

/* Buttons */
button {
    font-family: 'Press Start 2P', monospace;
    padding: 12px;
    font-size: 12px;
    cursor: pointer;
    background: #7d7d7d;
    border: 2px solid #000;
    box-shadow: inset 2px 2px 0 rgba(255, 255, 255, 0.5), inset -2px -2px 0 rgba(0, 0, 0, 0.5), 2px 2px 0 #000;
    color: #fff;
    text-shadow: 2px 2px #000;
    transition: 0.1s;
}

button:active {
    transform: translate(2px, 2px);
    box-shadow: none;
}

button:hover {
    background: #8f8f8f;
}

button#do-register-btn {
    background: #4b6920;
}

button#logout-btn {
    background: #aa0000;
}

/* Topbar override */
.topbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid #3e2712;
}

.topbar a {
    color: #aaa;
    font-size: 10px;
    margin-right: 20px;
    text-transform: uppercase;
}

.topbar a:hover {
    color: #fff;
    text-decoration: underline;
}